.navbar{
    display: flex;
    justify-content: center;
    position: sticky;
    box-shadow: 0px 0px 4px 1px silver;
}
.navbar2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    width: 80%;
}
.item1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}
.item1 img{
    height: 50px;
}
.item2 img{
    height: 35px;
}
.item2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
}
.new{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.new a{
    text-decoration: none;
    color: black;
}
.dropdown-content{
    position: relative;
    right: 100px;
    top: 50px;
}